{include  file="public/head"}
{block name="seo"}
网站SEO内容
{/block}

<body>
<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try {
            ace.settings.check('navbar', 'fixed')
        } catch (e) {
        }
    </script>
    {include file="public/header"}
    <!-- /.container -->
</div>

<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text">111111111</span>
        </a>
        {include file="public/menu"}
        {block name="content"}
        <div class="main-content">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12" style="padding-left:5px;">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#Index" role="tab" data-toggle="tab"><i class="icon-home"></i>首页</a>
                            </li>
                        </ul>
                        <div class="tab-content" style="height:865px">
                            <div role="tabpanel" class="tab-pane active" id="Index" style="height:100%">
                                <h2>欢迎进入后台管理系统</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/block}
    </div>
</div>
{include file="public/foot"}
</body>

</html>