<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- basic styles -->
    <link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__STATIC__/css/font-awesome.min.css"/>
    <link href="__STATIC__/css/sidebar-menu.css" rel="stylesheet"/>
    <link href="__STATIC__/css/toastr.min.css" rel="stylesheet"/>
    <!-- ace styles -->
    <link rel="stylesheet" href="__STATIC__/css/ace.min.css"/>
    <link rel="stylesheet" href="__STATIC__/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="__STATIC__/css/ace-skins.min.css"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="__STATIC__/css/ace-ie.min.css"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="__STATIC__/js/jquery-2.0.3.min.js"></script>
    <script src="__STATIC__/js/ace-extra.min.js"></script>
    <script src="__STATIC__/js/sidebar-menu.js"></script>
    <script src="__STATIC__/js/bootstrap-tab.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="__STATIC__/js/html5shiv.js"></script>
    <script src="__STATIC__/js/respond.min.js"></script>
    <![endif]-->